<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Name of event" id="event_id" type="text" class="validate">
            </div>
            <div class="input-field col s6">
                <input placeholder="Event host" id="user_id" type="text" class="validate">
            </div>
            <div class="input-field col s6">
                <input placeholder="Event theme" id="description" type="text" class="validate">
            </div>
            <div class="input-field col s6">
                <input placeholder="Event date" id="date_id" type="text" class="validate">
            
            <a id="EventAdd" class="btn-floating halfway-fab waves-effect waves-green"><i
                    class="material-icons">add</i></a></div>
    </form>
</div>