<h1>Login</h1>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="What is your email?" id="email" type="text" class="validate">
      
        </div>
<div class="row">
        <div class="input-field col s12">
          <input placeholder="What is your password?" id="password" type="password" class="validate">
        <a id="login" class="btn-floating halfway-fab waves-effect waves-green"><i class="material-icons">add</i></a>
        </div>
    </form>
  </div>
  <!--change to user forms-->

  <h1> Or Sign Up!</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="What is your email?" id="email" type="text" class="validate">
        </div>
<div class="row">
        <div class="input-field col s12">
          <input placeholder="What is your password?" id="password" type="password" class="validate">
        </div>
    </form>
  </div>
<div class="input-field col s6">
          <input placeholder="What is your Name?" id="name" type="text" class="validate">
        </div>
        <div class="input-field col s6">
          <input placeholder="What is your event?" id="event" type="text" class="validate">
          <a id="signup" class="btn-floating halfway-fab waves-effect waves-green"><i class="material-icons">add</i></a>
        </div>

  <!--change to user forms-->