<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Name" id="user" type="text" class="validate">
      
        </div>
        <div class="input-field col s6">
          <input placeholder="What I'm Bringing" id="dish" type="text" class="validate">
         
        </div>
      </div>
       <div class="input-field col s6">
          <input placeholder="Description of Dish" id="description" type="text" class="validate">
<a id="menuAdd" class="btn-floating halfway-fab waves-effect waves-green"><i class="material-icons">add</i></a>
        </div>
    </form>
  </div>

