<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="name" id="first_name" type="text" class="validate">
      
        </div>
        <div class="input-field col s6">
          <input placeholder="What I'm Bringing" id="last_name" type="text" class="validate">
         
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Description" id="password" type="password" class="validate">
<a class="btn-floating halfway-fab waves-effect waves-green"><i class="material-icons">add</i></a>
        </div>
      </div>
    </form>
  </div>

