<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="What is your email?" id="email" type="text" class="validate">
      
        </div>
        <div class="input-field col s6">
          <input placeholder="Please enter your password" id="password" type="text" class="validate">
        <a id="login" class="btn-floating halfway-fab waves-effect waves-green"><i class="material-icons">add</i></a>
        </div>
    </form>
  </div>
  <!--change to user forms-->
